@page "/teams"
@inject IHAPI IHAPI

<h1>Teams</h1>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>
                        <NavLink class="nav-link" href="@($"/teams/{team.TeamId}/users")">
                            @team.TeamId
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private IList<ListTeam> teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await IHAPI.ListTeams();
    }
}
